.button {
    -fx-background-color: #5e5e5e; /* Color cuando el botón es presionado usando pseudoclase */
    -fx-font-weight: bold;
}

.button:pressed {
    -fx-background-color: #BA009C; /* Color cuando el botón es presionado usando pseudoclase */
}